<!-- Header -->
<joshies-page-header headerText="Rules">
  @if (viewModel(); as vm) {
    @if (vm.userIsGameMaster) {
      @if (vm.editMode) {
        <!-- Cancel Button -->
        <p-button
          class="ml-auto"
          label="Cancel"
          [text]="true"
          severity="danger"
          (onClick)="confirmCancel()"
        />
      } @else {
        <!-- Edit Button -->
        <i
          tabindex="0"
          class="pi pi-pencil text-surface-700 dark:text-surface-100 p-2 ml-auto cursor"
          (click)="enterEditMode()"
          (keyup.enter)="enterEditMode()"
        ></i>
      }
    }
  }
</joshies-page-header>

@if (viewModel(); as vm) {
  @if (vm.rules) {
    @if (vm.editMode) {
      <!-- Form -->
      <joshies-form [form]="vm.form" />
    } @else {
      <!-- Intro -->
      <div
        [innerHTML]="vm.rules.intro"
        class="content bg-surface-0 dark:bg-surface-900 rounded-xl p-4"
      ></div>

      <!-- Event Rules -->
      <h2 class="mt-8 mb-4">Events</h2>

      @if (vm.rules.events) {
        <div
          [innerHTML]="vm.rules.events"
          class="content bg-surface-0 dark:bg-surface-900 rounded-xl p-4 mb-4"
        ></div>
      }

      @for (event of vm.events; track event.id) {
        <joshies-card padded styleClass="mb-4" class="relative">
          <!-- invisible element that adds padding at the top of the screen when a user clicks on a hash link -->
          <span
            #eventInfo
            [id]="'event-rules-' + event.id"
            class="absolute"
            style="top: -6.5rem"
          ></span>
          <h3
            [routerLink]="[]"
            [fragment]="eventInfo.id"
            routerLinkActive="bg-highlight-fadeout"
            [routerLinkActiveOptions]="{
              paths: 'exact',
              fragment: 'exact',
              matrixParams: 'ignored',
              queryParams: 'ignored',
            }"
            class="flex items-center gap-4 mt-0 rounded-border"
          >
            <p-image
              [src]="event.image_url || '/assets/icons/icon-96x96.png'"
              alt=""
              width="48"
              height="48"
              styleClass="rounded-border overflow-hidden"
              [preview]="true"
            />
            {{ event.name }}

            @if (vm.userIsGameMaster) {
              <!-- Edit Button -->
              <i
                tabindex="0"
                class="pi pi-pencil text-surface-700 dark:text-surface-100 p-2 ml-auto self-start cursor"
                [routerLink]="['/gm-tools/events/edit', event.id]"
                (click)="$event.stopPropagation()"
              ></i>
            }
          </h3>
          <p class="pre-wrap mb-0">{{ event.description }}</p>
          <div [innerHTML]="event.rules"></div>
        </joshies-card>
      }

      <!-- Gameboard -->
      <!-- invisible element that adds padding at the top of the screen when a user clicks on a hash link  -->
      <div class="relative">
        <span id="gameboard" class="absolute" style="top: -6.5rem"></span>
        <h2
          [routerLink]="[]"
          fragment="gameboard"
          routerLinkActive="bg-highlight-fadeout"
          [routerLinkActiveOptions]="{
            paths: 'exact',
            fragment: 'exact',
            matrixParams: 'ignored',
            queryParams: 'ignored',
          }"
          class="mt-8 mb-4 rounded-border"
        >
          Gameboard
        </h2>
      </div>

      @if (vm.rules.gameboard) {
        <div
          [innerHTML]="vm.rules.gameboard"
          class="content bg-surface-0 dark:bg-surface-900 rounded-xl p-4 mb-4"
        ></div>
      }

      @for (space of vm.spaces; track space.id) {
        <joshies-card padded styleClass="mb-4" class="relative">
          <!-- invisible element that adds padding at the top of the screen when a user clicks on a hash link  -->
          <span
            #spaceInfo
            [id]="'gameboard-space-' + space.id"
            class="absolute"
            style="top: -6.5rem"
          ></span>
          <h3
            [routerLink]="[]"
            [fragment]="spaceInfo.id"
            routerLinkActive="bg-highlight-fadeout"
            [routerLinkActiveOptions]="{
              paths: 'exact',
              fragment: 'exact',
              matrixParams: 'ignored',
              queryParams: 'ignored',
            }"
            class="flex items-center gap-4 mt-0 rounded-border"
          >
            <joshies-gameboard-space [model]="space" />
            {{ space.name }} Space

            @if (vm.userIsGameMaster) {
              <!-- Edit Button -->
              <i
                tabindex="0"
                class="pi pi-pencil text-surface-700 dark:text-surface-100 p-2 ml-auto self-start cursor"
                [routerLink]="['/gm-tools/space-types', space.id]"
                (click)="$event.stopPropagation()"
              ></i>
            }
          </h3>
          <div
            class="mb-0"
            [innerHTML]="space | gameboardSpaceDescription"
          ></div>
        </joshies-card>
      }

      <!-- Special Space Event Rules -->
      <h2 class="mt-8 mb-4">Special Space Events</h2>

      @if (vm.rules.special_space_events) {
        <div
          [innerHTML]="vm.rules.special_space_events"
          class="content bg-surface-0 dark:bg-surface-900 rounded-xl p-4 mb-4"
        ></div>
      }

      @for (
        specialSpaceEvent of vm.specialSpaceEvents;
        track specialSpaceEvent.id
      ) {
        <joshies-card padded styleClass="mb-4" class="relative">
          <!-- invisible element that adds padding at the top of the screen when a user clicks on a hash link -->
          <span
            #eventInfo
            [id]="'special-space-event-' + specialSpaceEvent.id"
            class="absolute"
            style="top: -6.5rem"
          ></span>
          <h3
            [routerLink]="[]"
            [fragment]="eventInfo.id"
            routerLinkActive="bg-highlight-fadeout"
            [routerLinkActiveOptions]="{
              paths: 'exact',
              fragment: 'exact',
              matrixParams: 'ignored',
              queryParams: 'ignored',
            }"
            class="flex items-center gap-4 mt-0 rounded-border mb-2"
          >
            {{ specialSpaceEvent.name }}

            @if (vm.userIsGameMaster) {
              <!-- Edit Button -->
              <i
                tabindex="0"
                class="pi pi-pencil text-surface-700 dark:text-surface-100 p-2 ml-auto self-start cursor"
                [routerLink]="[
                  '/gm-tools/special-space-event-templates',
                  specialSpaceEvent.id,
                ]"
                (click)="$event.stopPropagation()"
              ></i>
            }
          </h3>
          <p class="pre-wrap my-0">{{ specialSpaceEvent.description }}</p>
        </joshies-card>
      }

      <!-- Chaos Space Event Rules -->
      <h2 class="mt-8 mb-4">Chaos Space Events</h2>

      @if (vm.rules.chaos_space_events) {
        <div
          [innerHTML]="vm.rules.chaos_space_events"
          class="content bg-surface-0 dark:bg-surface-900 rounded-xl p-4 mb-4"
        ></div>
      }

      @for (chaosSpaceEvent of vm.chaosSpaceEvents; track chaosSpaceEvent.id) {
        <joshies-card padded styleClass="mb-4" class="relative">
          <!-- invisible element that adds padding at the top of the screen when a user clicks on a hash link -->
          <span
            #eventInfo
            [id]="'chaos-space-event-' + chaosSpaceEvent.id"
            class="absolute"
            style="top: -6.5rem"
          ></span>
          <h3
            [routerLink]="[]"
            [fragment]="eventInfo.id"
            routerLinkActive="bg-highlight-fadeout"
            [routerLinkActiveOptions]="{
              paths: 'exact',
              fragment: 'exact',
              matrixParams: 'ignored',
              queryParams: 'ignored',
            }"
            class="flex items-center gap-4 mt-0 rounded-border mb-2"
          >
            {{ chaosSpaceEvent.name }}

            @if (vm.userIsGameMaster) {
              <!-- Edit Button -->
              <i
                tabindex="0"
                class="pi pi-pencil text-surface-700 dark:text-surface-100 p-2 ml-auto self-start cursor"
                [routerLink]="[
                  '/gm-tools/chaos-space-event-templates',
                  chaosSpaceEvent.id,
                ]"
                (click)="$event.stopPropagation()"
              ></i>
            }
          </h3>
          <p class="pre-wrap my-0">{{ chaosSpaceEvent.description }}</p>
        </joshies-card>
      }
    }
  }
} @else {
  <!-- Loading Skeleton -->
  <p-skeleton width="100%" height="25rem" />
}
