@if (viewModel(); as vm) {
  @if (!vm.session) {
    <!-- Header -->
    <joshies-page-header headerText="Rankings" />

    <p class="mt-6 pt-6 text-center text-500 font-italic">No active session</p>
  } @else {
    <!-- Header -->
    <joshies-page-header [headerText]="vm.session.name" />

    <!-- Rankings Table -->
    <joshies-rankings-table
      [players]="vm.players"
      [editable]="vm.userIsGameMaster"
      [userId]="vm.userId"
      (scoreUpdate)="updateScore($event.playerId, $event.score)"
    />
  }
} @else {
  <p-skeleton height="3rem" styleClass="mb-4" />
  <p-skeleton height="25rem" />
}
