<div class="h-full flex flex-col justify-center items-center">
  <div class="flex-1 w-full text-5xl pr-12 pb-12 bounce-1">
    <span>🍄</span>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="w-full max-w-[30rem] flex flex-col gap-4 px-4"
  >
    <!-- Username -->
    <input
      pInputText
      type="text"
      placeholder="Username"
      [formControl]="form.controls.username"
    />

    <!-- Password -->
    <input
      pInputText
      type="password"
      placeholder="Password"
      [formControl]="form.controls.password"
    />

    <!-- Log In Button -->
    <p-button
      styleClass="w-full"
      type="submit"
      [disabled]="!form.valid"
      label="Log In"
    />
  </form>

  <div class="flex-1 w-full text-5xl pr-12 pb-12 bounce-2">
    <span>🦷</span>
  </div>
</div>
