<!-- Rankings Table -->
<p-table [value]="rankings()" [tableStyle]="{ 'min-width': '100%' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Score</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ranking>
    <tr
      [ngClass]="{
        'font-semibold bg-yellow-100': ranking.user_id === userId
      }"
    >
      <td class="text-center">
        @if (ranking.rankEmoji) {
          {{ ranking.rankEmoji }}
        } @else {
          {{ ranking.rank | number }}
        }
      </td>
      <td>
        <div class="flex align-items-center gap-2 -py-2">
          <img
            [ngSrc]="ranking.avatar_url"
            alt=""
            width="32"
            height="32"
            class="border-circle bg-gray-200"
          />
          {{ ranking.display_name }}
        </div>
      </td>
      <td class="text-right">
        @if (editable) {
          <p-inputNumber
            [ngModel]="ranking.score"
            (ngModelChange)="onScoreUpdate(ranking.player_id, $event)"
            [showButtons]="true"
            buttonLayout="horizontal"
            [step]="1"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            inputStyleClass="w-full"
          />
        } @else {
          {{ ranking.score | number }}
        }
      </td>
    </tr>
  </ng-template>
</p-table>
