<!-- Header -->
<joshies-page-header headerText="Disable Players" alwaysSmall>
  <joshies-header-link
    text="GM Tools"
    routerLink=".."
    chevronDirection="left"
  />
</joshies-page-header>

@if (players(); as players) {
  <!-- Player Table -->
  <p-table [value]="players" styleClass="mt-4">
    <ng-template pTemplate="header">
      <tr>
        <th>Player</th>
        <th class="text-center">Enabled</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-player>
      <tr>
        <td>
          <div class="flex align-items-center gap-2 -py-2">
            <img
              [ngSrc]="player.avatar_url"
              width="32"
              height="32"
              class="border-circle bg-gray-200"
              alt=""
            />
            {{ player.display_name }}
          </div>
        </td>
        <td class="text-center">
          <p-inputSwitch
            [ngModel]="player.enabled"
            (onChange)="
              onEnableToggleClick(
                player.player_id,
                player.display_name,
                player.enabled
              )
            "
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
} @else {
  <p-skeleton width="100%" height="30rem" styleClass="mt-4" />
}
