<!-- Header -->
<joshies-page-header headerText="Profile">
  <!-- Refresh Button -->
  <i
    tabindex="0"
    class="pi pi-refresh text-surface-700 dark:text-surface-100 font-bold text-xl ml-auto"
    (click)="reloadApp()"
    (keyup.enter)="reloadApp()"
  ></i>
</joshies-page-header>

@if (viewModel(); as vm) {
  <div class="flex justify-center my-8 items-baseline">
    @if (vm.updatedAvatarLoading) {
      <!-- Updating Avatar Loading Skeleton -->
      <p-skeleton height="10rem" width="10rem" styleClass="rounded-full" />
      <i
        tabindex="0"
        class="pi pi-camera p-1 -ml-6 -mb-1 text-xl text-surface-300 dark:text-surface-500"
      ></i>
    } @else {
      <!-- Avatar -->
      <img
        [src]="vm.updatedAvatarLoading ? '' : vm.user.avatar_url"
        alt=""
        class="w-40 h-40 rounded-full block bg-surface-100 dark:bg-surface-700"
      />

      @if (vm.user.can_edit_profile) {
        <!-- Choose Image Button -->
        <i
          tabindex="0"
          class="pi pi-camera p-1 -ml-6 -mb-1 text-xl text-surface-700 dark:text-surface-100"
          (click)="avatarFileInput.click()"
          (keyup.enter)="avatarFileInput.click()"
        ></i>
      } @else {
        <i
          class="pi pi-camera p-1 -ml-6 -mb-1 text-xl text-surface-400 dark:text-surface-400 relative"
        >
          <i class="pi pi-times text-3xl -mt-1 text-red-500 absolute left-0">
          </i>
        </i>
      }
    }

    <!-- Hidden File Input -->
    <input
      #avatarFileInput
      hidden
      type="file"
      accept="image/*"
      (change)="onAvatarImageSelect(vm.user.id, $event)"
    />
  </div>

  <!-- Display Name -->
  <p>
    <strong class="mr-2">Display Name:</strong> {{ vm.user.display_name }}

    @if (vm.user.can_edit_profile) {
      <!-- Edit Button -->
      <i
        tabindex="0"
        class="pi pi-pencil text-surface-700 dark:text-surface-100 p-2 ml-1"
        (click)="promptChangeDisplayName(vm.user.id, vm.user.display_name)"
        (keyup.enter)="
          promptChangeDisplayName(vm.user.id, vm.user.display_name)
        "
      ></i>
    } @else {
      <i
        class="pi pi-pencil p-2 ml-1 text-surface-400 dark:text-surface-400 relative"
      >
        <i class="pi pi-times text-2xl ml-1 -mt-1 text-red-500 absolute left-0">
        </i>
      </i>
    }
  </p>

  @if (vm.user.can_toggle_squidward_mode || vm.user.squidward_mode) {
    <!-- Squidward Mode -->
    <p class="flex items-center">
      <strong class="mr-4">Squidward Mode:</strong>

      <!-- Toggle Switch -->
      <p-inputSwitch
        [ngModel]="vm.squidwardMode"
        (ngModelChange)="setSquidwardMode(vm.user.id, $event)"
        [disabled]="!vm.user.can_toggle_squidward_mode"
      />
      @if (!vm.user.can_toggle_squidward_mode) {
        <i class="pi pi-times text-4xl -ml-8 -mt-1 text-red-500 z-50"> </i>
      }
    </p>
  }

  <!-- Login Username -->
  <p class="mt-0 mb-12">
    <strong class="mr-2">Login Username:</strong> {{ vm.loginUsername }}
  </p>

  <!-- Enable Push Notifications Button -->
  @if (!vm.pushNotificationsAreEnabled) {
    <p-button
      (onClick)="enablePushNotifications(vm.user.id)"
      label="Enable Push Notifications"
      styleClass="block mx-auto mt-6"
    />
  }
} @else {
  <!-- Loading Skeleton -->
  <p-skeleton
    width="10rem"
    height="10.2rem"
    styleClass="rounded-full mx-auto my-8"
  />
  <p-skeleton width="100%" height="4rem" styleClass="mb-12" />
}

<!-- Sign Out Button -->
<p-button
  (onClick)="confirmSignOut()"
  label="Sign Out"
  severity="danger"
  [text]="true"
  styleClass="block mx-auto mt-6"
/>

<!-- Last Updated -->
<p class="pt-6 text-surface-400 dark:text-surface-400 text-xs text-center">
  <!-- This value is replaced with the current date in the npm "prebuild" script -->
  App last updated: {{ 0 | date: 'medium' }}
</p>
