@if (field(); as field) {
  <div
    class="flex gap-1"
    [ngClass]="
      field.type === FormFieldType.Checkbox
        ? 'flex-row-reverse justify-end'
        : 'flex-col'
    "
  >
    @if (field.type !== FormFieldType.Submit) {
      <label [for]="field.name | lowercase">{{ field.label }}</label>
    }

    @switch (field.type) {
      @case (FormFieldType.Text) {
        <input
          [id]="field.name | lowercase"
          [name]="field.name | lowercase"
          [required]="field.required ?? false"
          [placeholder]="field.placeholder"
          type="text"
          pInputText
          [formControl]="field.control"
          [ngClass]="field.styleClass"
        />
      }
      @case (FormFieldType.Number) {
        <p-input-number
          [inputId]="field.name | lowercase"
          [name]="field.name | lowercase"
          [required]="field.required ?? false"
          [placeholder]="field.placeholder"
          [showButtons]="field.showButtons ?? true"
          [buttonLayout]="field.buttonLayout ?? 'horizontal'"
          [step]="field.step ?? 1"
          [incrementButtonIcon]="field.incrementButtonIcon ?? 'pi pi-plus'"
          [decrementButtonIcon]="field.decrementButtonIcon ?? 'pi pi-minus'"
          [min]="$any(field.min)"
          [max]="$any(field.max)"
          [suffix]="field.suffix"
          [mode]="field.mode ?? 'decimal'"
          [minFractionDigits]="0"
          [maxFractionDigits]="field.allowDecimals ? 3 : 0"
          [formControl]="field.control"
          [class]="'w-full ' + (field.styleClass ?? '')"
          [inputStyleClass]="'text-center ' + field.inputStyleClass"
        />
      }
      @case (FormFieldType.Dropdown) {
        <p-select
          [inputId]="field.name"
          [name]="field.name"
          [required]="field.required ?? false"
          [placeholder]="field.placeholder"
          [options]="field.options"
          [formControl]="field.control"
          [optionLabel]="field.optionLabel ?? 'label'"
          [optionValue]="field.optionValue ?? 'value'"
          [optionDisabled]="field.optionDisabled ?? 'disabled'"
          [class]="'w-full ' + (field.styleClass ?? '')"
          [overlayOptions]="{ styleClass: 'max-w-full' }"
        />
      }
      @case (FormFieldType.MultiSelect) {
        <p-multi-select
          [inputId]="field.name"
          [name]="field.name"
          [required]="field.required ?? false"
          [placeholder]="field.placeholder"
          [options]="field.options"
          [formControl]="field.control"
          [optionLabel]="field.optionLabel ?? 'label'"
          [optionValue]="field.optionValue ?? 'value'"
          [optionDisabled]="field.optionDisabled ?? 'disabled'"
          [display]="field.useChips ? 'chip' : 'comma'"
          [class]="'w-full ' + (field.styleClass ?? '')"
        />
      }
      @case (FormFieldType.Editor) {
        <p-editor
          [id]="field.name | lowercase"
          [required]="field.required ?? false"
          [placeholder]="field.placeholder"
          [formControl]="field.control"
          [style]="{ height: 'calc(100vh - 23rem)' }"
          [modules]="{
            clipboard: {
              matchVisual: false,
            },
          }"
        >
          <ng-template #header>
            <span class="ql-formats">
              <select class="ql-header">
                <option value="1">Heading</option>
                <option value="2">Subheading</option>
                <option selected></option>
              </select>
            </span>

            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
            </span>

            <span class="ql-formats">
              <button
                type="button"
                value="ordered"
                class="ql-list"
                aria-label="Ordered List"
              ></button>
              <button
                type="button"
                value="bullet"
                class="ql-list"
                aria-label="Unordered List"
              ></button>
            </span>

            <span class="ql-formats">
              <button
                type="button"
                class="ql-clean"
                aria-label="Remove Styles"
              ></button>
            </span>
          </ng-template>
        </p-editor>
      }
      @case (FormFieldType.Calendar) {
        <p-date-picker
          [inputId]="field.name"
          [name]="field.name"
          [required]="field.required ?? false"
          [placeholder]="field.placeholder"
          [formControl]="field.control"
          [minDate]="field.minDate!"
          [maxDate]="field.maxDate!"
          [selectionMode]="field.selectionMode ?? 'single'"
          [touchUI]="field.touchUi"
          [inline]="field.inline!"
          [showTime]="field.showTime ?? false"
          [timeOnly]="field.timeOnly ?? false"
          hourFormat="12"
          [class]="'w-full ' + (field.styleClass ?? '')"
        />
      }
      @case (FormFieldType.Submit) {
        <p-button
          type="submit"
          [styleClass]="
            'mt-2 ' +
            (['left', 'center'].includes(field.position) ? 'mr-auto ' : '') +
            (['right', 'center'].includes(field.position)
              ? 'ml-auto '
              : 'w-full ') +
            (field.styleClass ?? '')
          "
          [icon]="field.icon"
          [iconPos]="field.iconPos ?? 'right'"
          [disabled]="formDisabled() || formGroup().invalid"
          [label]="field.label"
          [loading]="field.loading ?? false"
        />
      }
      @case (FormFieldType.TextArea) {
        <textarea
          [id]="field.name | lowercase"
          [name]="field.name | lowercase"
          [required]="field.required ?? false"
          [placeholder]="field.placeholder"
          type="text"
          pInputText
          [formControl]="field.control"
          [ngClass]="field.styleClass"
          [rows]="field.rows ?? 5"
        ></textarea>
      }
      @case (FormFieldType.Checkbox) {
        <p-checkbox
          [inputId]="field.name | lowercase"
          [name]="field.name | lowercase"
          [required]="field.required ?? false"
          [formControl]="field.control"
          [ngClass]="field.styleClass"
          [binary]="true"
        />
      }
      @case (FormFieldType.Image) {
        @if (uploading()) {
          <p-skeleton
            class="mx-auto rounded-border"
            [width]="field.previewWidth + 'px'"
            [height]="field.previewHeight + 'px'"
          />
        } @else {
          @if (fieldValue(); as imageUrl) {
            <img
              #image
              [alt]="field.altText"
              [ngSrc]="$any(imageUrl)"
              class="mx-auto max-w-full rounded-border bg-surface-200"
              [width]="field.previewWidth"
              [height]="field.previewHeight"
            />
          } @else {
            <div
              class="pi pi-question mx-auto flex max-w-full flex-col justify-center rounded-border bg-neutral-100 text-center text-6xl text-neutral-300"
              [style]="{
                width: field.previewWidth + 'px',
                height: field.previewHeight + 'px',
              }"
            ></div>
          }
        }

        <p-button
          label="Upload Image"
          icon="pi pi-camera"
          styleClass="w-full mt-2"
          (onClick)="imageFileInput.click()"
        />

        <!-- Hidden File Input -->
        <input
          #imageFileInput
          hidden
          type="file"
          accept="image/*"
          (change)="onImageSelect(field.control, $event, field.uploadCallback)"
        />
      }
    }
  </div>
}
